mixin recipe-preview(recipe)
    section(class='recipe-preview' data-recipe-preview=recipe.supermarket)
        a(href='/recipe/' + recipe.id class='recipe-preview-link')
            div.relative
                img(class='recipe-preview-image' src=recipe.smallImageUrls[0])
                img(class='recipe-preview-supermarket' src='/images/supermarkets/#{recipe.supermarket}.png' alt=recipe.supermarket)
                img(class='recipe-preview-health' src='/images/healthiness.png')
            p(class='recipe-preview-discount')= recipe.discount

            div(class='recipe-preview-description')
                h3(class='recipe-preview-title')= recipe.recipeName
                ul
                    li= recipe.price
                    li 4 personen
