mixin supermarket-option(name, slug, location, type)
    div(class='supermarket-option' data-supermarket-option)
        input(id=slug type='checkbox' checked)
        label(for=slug)
            img(src='/images/#{location}/#{slug}.#{type}' alt=name)

form(class='supermarket-selection')
    +supermarket-option('Albert Heijn', 'albert-heijn', 'supermarkets', 'png')
    +supermarket-option('Jumbo', 'jumbo', 'supermarkets', 'png')
    +supermarket-option('Aldi', 'aldi', 'supermarkets', 'png')
    +supermarket-option('Lidl', 'lidl', 'supermarkets', 'png')
    +supermarket-option('Plus', 'plus', 'supermarkets', 'png')
    +supermarket-option('Dirk', 'dirk', 'supermarkets', 'png')
